html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    font-family: sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style: none;
}
/* phan mac dinh  */

.wrap{
    width:2400px;
}
/* phan hearder */


/* ket thuc hearder */
/* bat dau search */
.search{
    /* margin-top: -10px;
    margin-left: -10px; */
    width: 100%;
    background-color: #3695e5;
    height: 120px;
    display: inline-block;
}

.search_content{
    width: 98%;
    margin: auto auto;
    height: 80px;
}
/* logo trang web  */
.logo{
    width: 10%;
    padding: 18px 2cm;
    padding-right: 0;
    
}
.logo img{
    position: relative;
    height: 70px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 4px;
    top: -6px;
}
.logo img:hover{
    box-shadow: 0 5px 15px -5px #466177;
    transform: scale(1.02);
}
.logo,.search_box,.menu_search{
    float: left;
    margin: 0 auto;
}
/* khung tim kiem */
.search_box{
    width: 680px;
    padding: 30px 40px;
    padding-left:0 ;
}
.search_box>form{
    padding: 5px 5px;
    background: none;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid #466177;
    transition: 0.2s;
}
.search_box>form>input{
    width: 580px;
    height: 50px;
    font-size: 24px;
   background: none;
    padding-left: 20px;
    border: none;
    border-right: 2px solid #466177;
}
.search_box>form>button{
    height: 54px;
    font-size:24px ;
    border-radius: 27px;
    width: 54px;
    background: none;
    border: none;
    
}
.search_box>form:hover{
    background: #2872af;
    transform: scale(1.05);
}

.menu_search{
    width: 55%;
    position: relative;   
}
.menu_search>ul>li{
   display: inline-block;
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 40px 10px;
    position: relative;
    height: 100%;
    width: 170px;
  top: -7px;

    transition: 0.2s;
}

.menu_search ul li:hover{
    background: #1f68a5;
    transform: scale(1.05);
}
.menu_search ul li a{
    font-weight: 500;
}

/* noi dung -------------------------------*/
.content{
    width: 100%;
    background: #d5d5e0;
   /* test------- */
   height: 1500px;
   overflow:hidden;
   /* end test---- */
    list-style: none;
    background-size: cover;
    margin-top: -5px ;
}
/* noi dung 4 -------------*/
.content-4{
    width: 100%;
    background: #d5d5e0;
   /* test------- */
   height: 1160px;
   overflow:hidden;
   /* end test---- */
    list-style: none;
    background-size: cover;
    margin-top: -5px ;
}
/* noi dung 2-------------------------------------------------- */
.content-2{
    width: 100%;
    background: #d5d5e0;
    /* height: 2000px; */
    list-style: none;
    background-size: cover;
    margin-top: -20px;
}
/* noi dung 3--------------------------------------------------------- */

.content-3{
    width: 100%;
    background-image: url("/Img/photo-1483389127117-b6a2102724ae.jpg");
    height: 1360px;
    list-style: none;
    background-size: cover;
    margin-top: -5px;
}


.product{
    width: 80%;
    float: left;
    font-size: 18px;
    height: 1260px;
    margin-top:10px ;
    overflow:hidden;
    
    overflow-y: scroll;
}



.product::-webkit-scrollbar{
    width: 10px;
    background-color: #d5d5e0;
    
}
.product::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #2d85ce;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}
/* .product::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    
} */


.product-wrap{
    margin-top:50px ;
    width: 100%;
    margin-left: 40px;
    float: left;
    /* position: relative;
    left: 50px; */
}

.product_content>a>img{
    width: 200px;
    height: 280px;
    padding: 50px 10px;
    margin: 10px auto;
    background: white;
    border-radius: 8px;
}
.product_content>a>img:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 5px 0px black;
}
.product_content>a>b:hover{
   color: #2d85ce;
}
.product_content>a{
    float: left;
    width: 220px;
    height: 400px;
    margin: 80px 40px;
    text-align: center;
}
.product_content>a>b{
    font-size: 26;
}


.danh-muc{
    width: 20%;
    font-size: 18px;
   float: right;
   text-align: center;
   position: relative;
   right: 20px;
}

.menu{
    width: 360px;
    margin: 60px 20px;
    font-size: 20px;
    font-weight: 500;
}
.menu>li{
    margin-top: 5px;
    background: #2d85ce;
    padding: 0px 40px;
    position: relative;
}
.menu>li>a{
   
    display: block;
    padding: 20px 0;
    font-weight: bold;
   
    font-size: 22px;
}




.sub-menu{
    position: absolute;
    display: none;
    width: 240px;
    right: 100%;
    top: -4px;
    padding-right: 5px;
   
}

.sub-menu>li{
    position: relative;
    margin-top: 5px;
    background: #2d85ce;
    padding: 0px 40px;
    

}
.sub-menu>li>a{
    display: block;
    padding: 20px 0;
}

.super-menu{
    position: absolute;
    display: none;
    width: 200px;
    right: 100%;
    top: -5px;
    padding-right: 5px;
}
.super-menu>li{
    position: relative;
    margin-top: 5px;
    background: #2d85ce;
    padding: 0px 40px;
    
}
.super-menu>li>a{
    display: block;
    padding: 20px 0;
    
}
.super-menu-2{
    position: absolute;
    display: none;
    width: 200px;
    right: 100%;

    top: -5px;
    padding-right: 5px;
  
}
.super-menu-2>li{
    margin-top: 5px;
    background: #2d85ce;
    padding: 0px 40px;

}
.super-menu-2>li>a{
    display: block;
    padding: 20px 0;
}

.menu>li:hover .sub-menu{
    display: block;
}
.sub-menu>li:hover .super-menu{
    
    
  display: block;
}
.super-menu>li:hover .super-menu-2{
  display: block;
}
.menu a:hover{
    transform: scale(1.15);
}


.menu>li:hover {
   background: #1f68a5;
}
.sub-menu>li:hover {
    
    background:#1f68a5 ;
    
}
.super-menu>li:hover {
    background: #1f68a5;
}
.super-menu-2>li:hover {
    background: #1f68a5;
}






/*chu thich  */
.small_txt{
    width: 100%;
    height: 350px;
    background: rgb(131, 146, 165);
    display: inline-block;
    text-align: center;    
    font-family:"Brush Script MT"," Brush Script Std", cursive;
    font-size: 25px;
}
.small_paragraph{
    height: 100px;
    padding: auto auto;
}
.small_icon{
    width: 100%;
   
   
}
.social_icon{
    width: 16%;
    margin: 10px auto;
    margin-top: 60px;
   
}
.small_icon li{
    padding: 10px 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 10px 10px;
    float: left;
    list-style: none;
    align-content: center;
   
}
.social-fb{
    background: rgb(57, 94, 214);
}
.social-tw{
    background: rgb(94, 181, 252);
}
.social-gg{
    background: rgb(184, 80, 80);
}
.social-in{
    background: rgb(16, 53, 122);
}
.social-gh{
    background:rgb(211, 206, 206);
}
.social_icon i{
    font-size: 22px;
}

.social_icon li:hover{
    box-shadow: 0 10px 25px -5px #00000070;
    transform: scale(1.3);
}
.author {
    height: 150px;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.author p{
    margin-top: 70px;
}






/*----------------------------------LOGIN-------------------------------------------------------*/


.login-box{
    width: 500px;
    height: 440px;
    background: rgba(82, 82, 82,0.8);
    color:#fff ;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login-box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}
.login-box h1{
    font-size: 30px;
    text-align: center;
     margin: 0;
     padding: 0 0 20px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
    

}
.login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}
.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #3695e5;
    font-size: 18px;
    border-radius: 8px;
    transition: 1s;
}
.login-box input[type="submit"]:hover{

    background: rgb(53, 103, 170);
    transform: scale(1.05);
}
.login-box a{
    font-size: 16px;
    text-decoration: none;
    line-height: 20px;
    transition: 0.75s;
}
.login-box a:hover{
    color: rgb(187, 187, 187);
}

.login-box input[type="text"]:hover ,input[type="password"]:hover{
    transform: scale(1.05);
}
.login-box img:hover{
    transform: scale(1.05);
}

/*  ----------------------dang ky-------------------------------------- */
.create-box{
    width: 500px;
    height: 700px;
    background: rgba(82, 82, 82,0.8);
    color:#fff ;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.create-box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}
.create-box h1{
    font-size: 30px;
    text-align: center;
     margin: 0;
     padding: 0 0 20px;
}
.create-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.create-box input{
    width: 100%;
    margin-bottom: 20px;
    

}
.create-box input[type="text"],input[type="number"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}
.create-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #3695e5;
    font-size: 18px;
    border-radius: 8px;
    transition: 1s;
}
.create-box input[type="submit"]:hover{

    background: rgb(53, 103, 170);
    transform: scale(1.05);
}
.create-box i{
    width: 30px;
    line-height: 50px;
    padding: 0 0;
    font-size: 25px;

    
}
.create-box li{
    width:100%;
    padding: 0;
    margin: 0;
   text-align: center;
}

.create-box i:hover{
    transform: scale(1.3);
}
.create-box input[type="text"]:hover{
    transform: scale(1.05);
}


.create-box img:hover{
    transform: scale(1.05);
}
/* -----------------------------------lost account---------------------------------------------------------- */





.lost-box{
    width: 500px;
    height: 580px;
    background: rgba(82, 82, 82,0.8);
    color:#fff ;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.lost-box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}
.lost-box h1{
    font-size: 30px;
    text-align: center;
     margin: 0;
     padding: 0 0 20px;
}
.lost-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.lost-box input{
    width: 100%;
    margin-bottom: 20px;
    

}
.lost-box input[type="text"],input[type="number"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}
.lost-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #3695e5;
    font-size: 18px;
    border-radius: 8px;
    transition: 1s;
}
.lost-box input[type="submit"]:hover{

    background: rgb(53, 103, 170);
    transform: scale(1.05);
}
.lost-box i{
    width: 30px;
    line-height: 50px;
    padding: 0 0;
    font-size: 25px;

    
}
.lost-box li{
    width:100%;
    padding: 0;
    margin: 0;
   text-align: center;
}
.lost-box i:hover{
    transform: scale(1.3);
}
.lost-box input[type="text"]:hover{
    transform: scale(1.05);
}

.lost-box img:hover{
    transform: scale(1.05);
}




/* --------------product----------------- */

.laptop-wrap{
    width: 78%;
    padding: 20px 20px;
    float: left;
}
.laptop-img{
    width: 40%;
    float: left;
    height: 600px;
    background: white;
    transition: 0.2s;

}
.laptop-img>img{
    margin: 0 80px;
    height: 100%;
    
}
.laptop-img:hover{
    transform: scale(1.02);

}
.laptop-info{
    width: 60%;
    float: left;
    background: #87a7c2;
    height: 600px;
    
}
.laptop-info>p{
    font-size: 30px;
    display: block;
    margin-left: 200px ;
    font-weight: bold;
    
}
.laptop-info-left{
    width: 160px;
    float: left;
    font-size: 22px;
   
    padding-left: 40px;
   
}
.laptop-info-left>p{
    padding: 15px 0;
}
.laptop-info-right>p{
    padding: 15px 0;
}
.laptop-info-right{
    width: 70%;
    float: left;
    font-size: 22px;
    padding-left: 40px;
}
.laptop-info-right>p:hover{
    text-decoration: underline;
}
.laptop-button{
    display: block;
    float: left;
    margin-top: 50px;
   

}
.laptop-button>button{
    width: 280px;
    height: 80px;
    margin-left: 160px;
    font-size: 24px;
    border-radius: 28px;
    background: #5685ac;
    border: none;
    transition: 0.2s;
}
.laptop-button>button:hover{
    transform: scale(1.05);
    background: #1f68a5;
}

.laptop-about{
    width: 40%;
    float: left;
    height: 840px;
    border-bottom: 1px solid black;
    background: rgb(229, 239, 245);
}
.laptop-about-left{
    width: 40%;
    float: left;
    font-size: 22px;
}
.laptop-about-left>p{
    padding-left: 40px ;
}
.laptop-about-right{
    width: 60%;
    float: left;
    font-size: 22px;
}
.laptop-about>p{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}
.laptop-about-more{
    width: 100%;
    line-height: 60px;
    text-align: center;
}
.laptop-about-more>button{
    width: 200px;
}
.laptop-mo-ta{
    width: 60%;
    float: left;
    height: 840px;
    margin-top: 10px;
    overflow-y: scroll;
}
.laptop-mo-ta>p{
    font-size: 20px;
    padding: 0 40px;
}
.laptop-mo-ta>h2{
    padding: 20px 40px;
}
.laptop-mo-ta>h1{
    text-align: center;
    font-size: 28px;
}
.laptop-mo-ta>img{
    width: 100%;
}

/* ------------------------------------------phieu don xac nhan mua hang--------------------- */


.order-form{
   width: 1200px;
   height: 500px;
   background: #6daee4; 
   position: relative;
   left: 50%;
   top: 40%;
   transform: translate(-50%,-50%);
   font-family: sans-serif;
   font-size: 22px;
}
.order-form form{
    margin: 30px;
   
}
.order-form h6{
    margin: 20px;
}
.order-form>h1{
    padding-top: 40px;
}
.order-form input{
    display: block;
}
.col-left{
    width: 20%;
    float: left;
}
.col-right{
    width: 80%;
    float: left;
    position: relative;
    top: 6px;
}
.col-right input{
    width: 600px;
    line-height: 30px;
    margin-bottom: 17px ;
    border-radius: 12px;
    /* border: none;
    background: none;
    border-bottom: 2px solid black; */
}
.col-right select{
    width: 380px;
    display: block;
    height: 30px;
    margin-bottom: 17px;
    border-radius: 12px;
}
#xac-nhan-mua{
    margin: 20px 0;
    height: 50px;
    width: 280px;
    float: left;
    border-radius:8px;
    background: #3695e5;
    border: none;
    transition: 0.2s;
    font-size: 20px;
    font-weight: bold;
    
}
#quay-lai{
    margin: 20px 0;
    height: 50px;
    width: 280px;
    float: left;
    margin-left: 20px;
    border-radius:8px;
    background: #3695e5;
    border: none;
    transition: 0.2s;
    font-size: 20px;
    font-weight: bold;
}
.order-form h1{
    text-align: center;
}
#xac-nhan-mua:hover{
    background: #1f68a5;
    transform: scale(1.05);
}
#quay-lai:hover{
    background: #1f68a5;
    transform: scale(1.05);
}

/* ------------ho tro---------------------------------------- */


.help-header{
    width: 100%;
    height: 360px;
    display: block;
    background: white;
}
.help-header h1{
    text-align: center;
    line-height: 40px;
    padding: 40px;
    font-size: 30px;
}
.help-header h1:hover{
    text-decoration: underline;
}
.help-item{
    width: 420px;
    height: 70px;
    font-size: 28px;
    display: block;
    float: left;
    background: #66abe4;
    margin: 40px 85px;
    text-align: center;
    border-radius: 35px;
    overflow: hidden;
    transition: 0.2s;
}
.help-item>a{
   width: 370px;
   background: royalblue;
   display: block;
   float: left;
   padding: 15px 0;
   background:none;
    border: none;
}
.help-item i{
    width: 30px;
    
    float: left;
    display: block;
    padding: 12px 0;
    font-size: 40px;
}
.help-item button{
    background:none;
    border: none;
}
.help-item:hover{
    background: #2b6697;
    transform: scale(1.05);
}

/* ----------------------Tu van mu hang----------------------------- */
.a-q{
    width: 100%;
    height: 480px;
    background: #5382a8;
    font-size: 18px;
    font-weight: 500;
    float: left;
}
.a-q form{
    width: 100%;
    height: 120px;
    
}
.a-q>form>input[type="text"]{
    width: 1440px;
    height: 60px;
    font-size: 26px;
    margin-left: 260px ;
    margin-top: 5px ;
    border-radius: 30px;
    padding: 0 20px;
    transition: 0.2s;
}

.a-q>form>input[type="text"]:hover{
    box-shadow: 0 5px 15px -5px black;
    transform: scale(1.05);
    background: rgb(211, 211, 211);

}

.a-q>form>input[type="submit"]{
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
    border-radius: 35px;
    transition: 0.2s;
}
.a-q>form>input[type="submit"]:hover{
    box-shadow: 0 5px 15px -5px black;
    transform: scale(1.05);
    background: rgb(211, 211, 211);

}

.a-q>p{
    display: block;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}
.a-q>p:hover{
    text-decoration: underline;
}
.cau-hoi-thuong-hoi>p{
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    display: block;
}
.cau-hoi-thuong-hoi>a{
    display: inline-block;
    color:white;
    margin: 10px 100px;
}
.cau-hoi-thuong-hoi>a:hover{
    text-decoration:underline;
}


/* -------------------phan hoi cua khach--------------------------- */


.reply-customer{
    width: 100%;
    height: 400px;
    background: rgb(161, 185, 211);
    float: left;
}
.reply-customer>p{
    display: block;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}
.reply-customer>p:hover{
    text-decoration: underline;
}
.reply-customer>form>div{
    line-height: 40px;
}

.tot-xau{
    display: block;
    padding-left: 80px ;
    
}
.tot-xau-item{
    width: 300px;
    float: left;
    font-size: 24px;
}
.tot-xau-item>input[type="checkbox"]{
    transition: 0.2s;
}
.tot-xau-item>input[type="checkbox"]:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px -5px black;

}
.reply-item{
    display: block;
    font-size: 22px;
    padding-left: 80px ;
}
.reply-item>select{
    width: 360px;
    margin-left: 40px;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.2s;
}
.reply-item>select:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px -5px black;
}
.reply-content{
    display: block;
    padding-left: 80px ;
    margin: 30px 0px;
    

}
.reply-content>input[type="text"]{
    width: 800px;
    padding: 15px 10px;
    border-radius: 20px;
    font-size: 22px;
    transition: 0.2s;
}
.reply-content>input[type="submit"]{
    font-size: 22px;
    padding: 15px 10px;
    border-radius: 20px;
    width: 180px;
    margin-left: 40px ;
    transition: 0.2s;
}
.reply-content>input:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px -5px black;
}
    
/* --------------------thong tin chi tiet shop--------------------------- */
.help-info{
    padding-top:60px ;
    width: 100%;
    height: 400px;
    font-size: 18px;
    background: #82bae7;
    float: left;
}
.help-info>div{
    width: 15%;
    height: 300px;
    float: left;
    margin: 0 120px;

}
.help-info a:hover{
    text-decoration: underline;
}

/* -------------------parallax-------------- */

.parallax-wrap{
    background: rgba(118, 193, 255, 0.4);
    width: 100%;
    height: 100%;
}
.parallax{
    background: url("/Img/bgLap/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
}

.parallax-2{
    background: url("/Img/bgLap/domenico-loia-hGV2TfOh0ns-unsplash.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1300px;
}
.parallax-3{
    
    background: url("/Img/bgLap/anna-auza-D7Q6JpFleK8-unsplash.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1300px;
}
/* .content-2{
    scroll-behavior: smooth;
} */


/* tro ve home */
.point-home{
    position: fixed;
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    width: 80px;
    height: 60px;
    margin-right: 0 ;
    left: 2200px;
    top: 500px;
    background: #6d94b4;
    border-radius: 30px;
    transition: 0.2s;
}
.point-home:hover{
    transform: scale(1.05);
    background: #2b6697;
    box-shadow: 0 5px 15px -5px black;
}



/* ---------------gio hang------------------------ */
.gio-hang-list{
    width: 100%;
    height: 200px;
    background: #2872af;
}
.gio-hang-item{
    width: 100%;
    height: 40px;
    font-weight: bold;
    
    padding: 0 80px;
    font-size: 24px;
    
}
.gio-hang-item>li{
    float: left;
    width: 240px;
    text-align: center;
    border: 2px solid black;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    background: #2c4c66;
}
.gio-hang-product{
    width: 100%;
    height: 40px;
   
    padding: 0 80px;
    font-size: 20px;
}
.gio-hang-product>li{
    float: left;
    width: 240px;
    text-align: center;
    border: 2px solid black;
    height: 100%;
    padding-top: 10px;
    background: #88b1d3;
}
.gio-hang-wrap{
    width: 100%-400px;
    height: 740px;
    overflow: hidden;
    overflow-y: scroll;
    display: block;
    float: left;
    margin: 0 100px;
}

.gio-hang-note{
    width: 100%;
    height: 100px;
    float: left;
    display: block;
    padding:40px 100px;
    font-size: 20px;
}



/* ----------------------------thong bao---------------------------- */

.thong-bao{
    position: relative;
}
.sub-thong-bao{
    position: absolute;
    width: 300px;
    top: 110px;
    left: -40px;
    display: none;
    
}
.sub-thong-bao li{
    background: #6eb4ee;
 width: 260px;
 height: 60px;
 border-bottom: 2px solid silver;
}
.sub-thong-bao a{
    font-size: 18px;
}
.thong-bao:hover .sub-thong-bao{
 display: block;
}









/* -------bo xung home-------------- */

.content,.content-2,.content-3,.content-4{
    animation: transitionIn 0.8s;
}


@keyframes transitionIn{
    from{
        opacity: 0;
        /* transform: rotateX(-10deg); */
    }
    top{
        opacity: 1;
        /* transform: rotateX(0); */
    }
}